body{
    background-color:rgb(243, 243, 243);
}
.container{
    background-color:rgb(255, 255, 255);
    padding:20px;
    border-radius:10px;
}
.container h1{
    color:rgb(52, 152, 219);
}
input{
    width:100%;
    padding:8px;
    margin-bottom:10px;
}
.container button{
    background-color:rgb(52, 152, 219);
    color:rgb(255,255,255);
    border-radius:5px;
    cursor:pointer;
}
.container button:hover{
    background-color:red;
}
p{
    color:green;
}
